button {
	width:250px;
	height:250px;
	padding:2px;
	margin:2.5px;
	color:#00ffff;
}
#doom {
	background-image: url("doom.png");
}

#hl {
	background-image: url("hl.png");
}

#mc {
	background-image: url("mc.png");
}
