button {
	border:1.5px solid black;
	width:250px;
	height:250px;
	padding:2px;
	margin:2.5px;
	color:#00ffff;
}
button:hover {
	border:1px solid black;
}
#doom {
	background-image: url("doom.png");
}

#hl {
	background-image: url("hl.png");
}

#mc {
	background-image: url("mc.png");
}

#NH {
	background-image: url("Night-Hawk.png");
}
